In [57]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [73]:
# Read the csv data file as data_df
data_df = pd.read_csv("data/Billionaires Statistics Dataset.csv")
data_df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,organization,selfMade,status,gender,birthDate,lastName,firstName,title,date,state,residenceStateRegion,birthYear,birthMonth,birthDay,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,LVMH MoÃ«t Hennessy Louis Vuitton,False,U,M,3/5/1949 0:00,Arnault,Bernard,Chairman and CEO,4/4/2023 5:01,NaN,NaN,1949.0,3.0,5.0,110.05,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,Tesla,True,D,M,6/28/1971 0:00,Musk,Elon,CEO,4/4/2023 5:01,Texas,South,1971.0,6.0,28.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,Amazon,True,D,M,1/12/1964 0:00,Bezos,Jeff,Chairman and Founder,4/4/2023 5:01,Washington,West,1964.0,1.0,12.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,Oracle,True,U,M,8/17/1944 0:00,Ellison,Larry,CTO and Founder,4/4/2023 5:01,Hawaii,West,1944.0,8.0,17.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,Berkshire Hathaway Inc. (Cl A),True,D,M,8/30/1930 0:00,Buffett,Warren,CEO,4/4/2023 5:01,Nebraska,Midwest,1930.0,8.0,30.0,117.24,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [78]:
# Check out the data types
data_df.dtypes

# Convert gdp_country to float

# Convert finalWorth unit to billion
data_df['finalWorth'] = data_df['finalWorth']/1000

In [100]:
# Checking rows that contain nan value
#data_df[data_df.isna().any(axis=1)]
data_df.isnull().sum()

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

In [87]:
data_df.shape

(2640, 35)

In [117]:
# Cleaning out the 'State' and 'Residence of State' which are not needed
full_df = data_df[['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
    'source', 'industries', 'countryOfCitizenship','selfMade', 'status', 'gender', 'lastName', 'firstName',
       'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country']]
full_df.isnull().sum()

rank                                            0
finalWorth                                      0
category                                        0
personName                                      0
age                                            65
country                                        38
source                                          0
industries                                      0
countryOfCitizenship                            0
selfMade                                        0
status                                          0
gender                                          0
lastName                                        0
firstName                                       3
cpi_country                                   184
cpi_change_country                            184
gdp_country                                   164
gross_tertiary_education_enrollment           182
gross_primary_education_enrollment_country    181
life_expectancy_country                       182
tax_revenue_country_country                   183
total_tax_rate_country                        182
population_country                            164
latitude_country                              164
longitude_country                             164
dtype: int64

In [122]:
df = full_df[full_df['country'].isnull()]
df

,rank,finalWorth,category,personName,age,country,source,industries,countryOfCitizenship,selfMade,status,gender,lastName,firstName,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
108,108,15.8,Fashion & Retail,Beate Heister,NaN,NaN,Supermarkets,Fashion & Retail,Germany,False,Split Family Fortune,F,Heister,Beate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,418,6.1,Telecom,Sunil Mittal,65.0,NaN,Telecom,Telecom,India,True,Split Family Fortune,M,Mittal,Sunil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,636,4.3,Real Estate,Ian Livingstone,60.0,NaN,Real estate,Real Estate,United Kingdom,True,Split Family Fortune,M,Livingstone,Ian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,636,4.3,Real Estate,Richard Livingstone,58.0,NaN,Real estate,Real Estate,United Kingdom,True,Split Family Fortune,M,Livingstone,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,905,3.2,Food & Beverage,Karen Virginia Beckmann Legoretta,53.0,NaN,Tequila,Food & Beverage,Mexico,False,U,F,Beckmann Legoretta,Karen Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,982,3.0,Automotive,Catheline Perier D'Ieteren,78.0,NaN,"Auto parts, distribution",Automotive,Belgium,False,N,F,D'Ieteren,Catheline Perier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141,1104,2.7,Food & Beverage,Timm Oberwelland,NaN,NaN,Candy,Food & Beverage,Germany,False,Split Family Fortune,M,Oberwelland,Timm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,1104,2.7,Metals & Mining,Gianfelice Rocca,75.0,NaN,Pipe Manufacturing,Metals & Mining,Italy,False,Split Family Fortune,M,Rocca,Gianfelice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,1104,2.7,Metals & Mining,Paolo Rocca,70.0,NaN,Pipe Manufacturing,Metals & Mining,Italy,False,Split Family Fortune,M,Rocca,Paolo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,1104,2.7,Media & Entertainment,Christiane Schoeller,NaN,NaN,Publishing,Media & Entertainment,Germany,False,U,F,Schoeller,Christiane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1212,1164,2.6,Construction & Engineering,Jurgen Wirtgen,57.0,NaN,Construction Vehicles,Construction & Engineering,Germany,False,N,M,Wirtgen,Jurgen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,1164,2.6,Construction & Engineering,Stefan Wirtgen,52.0,NaN,Construction Vehicles,Construction & Engineering,Germany,False,N,M,Wirtgen,Stefan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,1312,2.3,Finance & Investments,Samuel Chen,73.0,NaN,Investments,Finance & Investments,Taiwan,True,N,M,Chen,Samuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,1312,2.3,Fashion & Retail,Kevin David Lehmann,20.0,NaN,Drugstores,Fashion & Retail,Germany,False,D,M,Lehmann,Kevin David,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,1434,2.1,Construction & Engineering,Olivier Bouygues,72.0,NaN,"Construction, media",Construction & Engineering,France,False,Split Family Fortune,M,Bouygues,Olivier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1559,1516,2.0,Manufacturing,Michal Strnad,30.0,NaN,Defense Contracting,Manufacturing,Czech Republic,False,N,M,Strnad,Michal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,1516,2.0,Fashion & Retail,Ales Zavoral,46.0,NaN,E-commerce,Fashion & Retail,Czech Republic,True,N,M,Zavoral,Ales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,1575,1.9,Fashion & Retail,Stephen Butt & family,67.0,NaN,Supermarkets,Fashion & Retail,United States,False,N,M,Butt,Stephen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1691,1647,1.8,Food & Beverage,Maike Oberwelland-Height,NaN,NaN,Candy,Food & Beverage,Germany,False,Split Family Fortune,F,Oberwelland-Height,Maike,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,1725,1.7,Media & Entertainment,Kim Jung-min,21.0,NaN,Online gaming,Media & Entertainment,South Korea,False,N,F,Kim,Jung-min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1755,1725,1.7,Media & Entertainment,Kim Jung-youn,19.0,NaN,Online gaming,Media & Entertainment,South Korea,False,N,F,Kim,Jung-youn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1810,1804,1.6,Fashion & Retail,Alex Birkenstock,54.0,NaN,Shoes,Fashion & Retail,Germany,False,D,M,Birkenstock,Alex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1842,1804,1.6,Media & Entertainment,Kim Jae-young,NaN,NaN,Online games,Media & Entertainment,South Korea,True,N,M,Kim,Jae-young,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,1905,1.5,Finance & Investments,Anne Marie See Pastor,NaN,NaN,Finance,Finance & Investments,Peru,False,Split Family Fortune,F,Pastor,Anne Marie See,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,1905,1.5,Finance & Investments,George Pastor,NaN,NaN,Finance,Finance & Investments,Peru,False,Split Family Fortune,M,Pastor,George,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2173,2133,1.3,Finance & Investments,Lillyn Teh Li Hua,NaN,NaN,Finance,Finance & Investments,Malaysia,False,N,F,Hua,Lillyn Teh Li,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2207,2133,1.3,Finance & Investments,Lillian Teh Li Ming,NaN,NaN,Banking,Finance & Investments,Malaysia,False,N,F,Ming,Lillian Teh Li,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,2133,1.3,Finance & Investments,William Teh Lee Pang,NaN,NaN,Banking,Finance & Investments,Malaysia,False,N,M,Pang,William Teh Lee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2133,1.3,Manufacturing,Stephan Schnabel,48.0,NaN,Chemicals,Manufacturing,Germany,False,U,M,Schnabel,Stephan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,2133,1.3,Finance & Investments,Diana Teh Li Shing,NaN,NaN,Banking,Finance & Investments,Malaysia,False,N,F,Shing,Diana Teh Li,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2333,2259,1.2,Automotive,Ulrich Mommert & family,82.0,NaN,Lighting,Automotive,Austria,True,E,M,Mommert,Ulrich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2336,2259,1.2,Manufacturing,Kailashchandra Nuwal,65.0,NaN,Industrial explosives,Manufacturing,India,False,N,M,Nuwal,Kailashchandra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2406,2405,1.1,Healthcare,Prem Kumar Arora,84.0,NaN,Pharmaceuticals,Healthcare,India,False,N,M,Arora,Prem Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2429,2405,1.1,Technology,Cho Jyh-jer,NaN,NaN,Semiconductors,Technology,Taiwan,True,D,M,Cho,Jyh-jer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2530,2405,1.1,Manufacturing,Yeh Kuo-I,81.0,NaN,Manufacturing,Manufacturing,Taiwan,True,D,M,Yeh,Kuo-I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2607,2540,1.0,Finance & Investments,Stanley Motta,77.0,NaN,Finance,Finance & Investments,Panama,False,N,M,Motta,Stanley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2626,2540,1.0,Logistics,Masaru Wasami,77.0,NaN,Logistics,Logistics,Japan,True,R,M,Wasami,Masaru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2630,2540,1.0,Manufacturing,Franziska Wuerbser,35.0,NaN,Kitchen appliances,Manufacturing,Germany,False,D,F,Wuerbser,Franziska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df = full_df[full_df['cpi_country'].isna()]
df

,rank,finalWorth,category,personName,age,country,source,industries,countryOfCitizenship,selfMade,status,gender,lastName,firstName,cpi_country,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
32,33,38.0,Diversified,Li Ka-shing,94.0,Hong Kong,Diversified,Diversified,Hong Kong,True,U,M,Li,Ka-shing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,47,29.5,Real Estate,Lee Shau Kee,95.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,D,M,Lee,Shau Kee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,86,18.9,Diversified,Eyal Ofer,72.0,Monaco,"Real estate, shipping",Diversified,Israel,False,U,M,Ofer,Eyal,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
108,108,15.8,Fashion & Retail,Beate Heister,NaN,NaN,Supermarkets,Fashion & Retail,Germany,False,Split Family Fortune,F,Heister,Beate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,108,15.8,Real Estate,Peter Woo,76.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,D,M,Woo,Peter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,122,14.4,Metals & Mining,Alisher Usmanov,69.0,Uzbekistan,"Steel, telecom, investments",Metals & Mining,Russia,True,U,M,Usmanov,Alisher,NaN,NaN,"$57,921,286,440",10.1,104.2,71.6,14.8,31.6,33580650.0,41.377491,64.585262
125,126,14.1,Real Estate,Kwong Siu-hing,93.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,U,F,Kwong,Siu-hing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,128,13.9,Gambling & Casinos,Lui Che Woo,94.0,Hong Kong,Casinos/hotels,Gambling & Casinos,Hong Kong,True,U,M,Lui,Che Woo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,133,13.3,Real Estate,Joseph Lau,71.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,D,M,Lau,Joseph,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,146,11.8,Diversified,Robert Kuok,99.0,Hong Kong,"Palm oil, shipping, property",Diversified,Malaysia,True,U,M,Kuok,Robert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,159,11.0,Finance & Investments,Gong Hongjia & family,58.0,Hong Kong,Video surveillance,Finance & Investments,Hong Kong,True,D,M,Gong,Hongjia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,246,8.3,Fashion & Retail,Stefano Pessina,81.0,Monaco,Drugstores,Fashion & Retail,Monaco,False,D,M,Pessina,Stefano,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
248,249,8.2,Real Estate,Francis Choi,75.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,U,M,Choi,Francis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,261,8.0,Finance & Investments,Eric Wittouck,76.0,Monaco,Investments,Finance & Investments,Belgium,False,D,M,Wittouck,Eric,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
277,276,7.8,Manufacturing,Lin Shu-hong,94.0,Taiwan,Petrochemicals,Manufacturing,Taiwan,True,U,M,Lin,Shu-hong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,276,7.8,Fashion & Retail,Zhang Congyuan,75.0,Taiwan,Shoes,Fashion & Retail,Taiwan,True,D,M,Zhang,Congyuan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,290,7.6,Technology,Joseph Tsai,59.0,Hong Kong,E-commerce,Technology,Canada,True,D,M,Tsai,Joseph,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,317,7.2,Technology,Terry Gou,72.0,Taiwan,Electronics,Technology,Taiwan,True,U,M,Gou,Terry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,332,7.0,Real Estate,Law Kar Po,74.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,U,M,Law,Kar Po,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,390,6.5,Fashion & Retail,Nathan Kirsh,91.0,Eswatini (Swaziland),"Retail, real estate",Fashion & Retail,Eswatini (Swaziland),True,U,M,Kirsh,Nathan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,390,6.5,Diversified,Simon Reuben,81.0,Monaco,"Real estate, investments",Diversified,United Kingdom,True,D,M,Reuben,Simon,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
401,397,6.4,Manufacturing,Dmitry Rybolovlev & family,56.0,Monaco,Fertilizer,Manufacturing,Russia,True,D,M,Rybolovlev,Dmitry,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
421,418,6.1,Energy,Michael Kadoorie,81.0,Hong Kong,"Hotels, energy",Energy,Hong Kong,False,D,M,Kadoorie,Michael,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,418,6.1,Telecom,Sunil Mittal,65.0,NaN,Telecom,Telecom,India,True,Split Family Fortune,M,Mittal,Sunil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,418,6.1,Technology,Zhou Qunfei,53.0,Hong Kong,Smartphone screens,Technology,Hong Kong,True,D,F,Zhou,Qunfei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,425,6.0,Finance & Investments,Joe Lewis,86.0,Bahamas,Investments,Finance & Investments,United Kingdom,True,U,M,Lewis,Joe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,445,5.7,Media & Entertainment,Clive Calder,76.0,Cayman Islands,Record label,Media & Entertainment,United Kingdom,True,E,M,Calder,Clive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,445,5.7,Logistics,Helmut Sohmen,83.0,Hong Kong,Shipping,Logistics,Austria,False,U,M,Sohmen,Helmut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,466,5.5,Technology,Pierre Chen,66.0,Taiwan,Electronics,Technology,Taiwan,True,U,M,Chen,Pierre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,466,5.5,Finance & Investments,Jean Salata,57.0,Hong Kong,Finance,Finance & Investments,Chile,True,U,M,Salata,Jean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,511,5.2,Technology,Barry Lam,73.0,Taiwan,Electronics,Technology,Taiwan,True,D,M,Lam,Barry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,523,5.1,Healthcare,Tse Ping & family,71.0,Hong Kong,Pharmaceuticals,Healthcare,China,True,D,M,Tse,Ping,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,567,4.8,Manufacturing,Horst Julius Pudwill,78.0,Hong Kong,Manufacturing,Manufacturing,Germany,True,D,M,Pudwill,Horst Julius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,580,4.7,Technology,Jason Chang,78.0,Taiwan,Electronics,Technology,Singapore,True,U,M,Chang,Jason,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,591,4.6,Finance & Investments,"Andre Koo, Sr.",55.0,Taiwan,Financial services,Finance & Investments,Taiwan,False,D,M,Koo,Andre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,591,4.6,Telecom,Richard Li,56.0,Hong Kong,Telecom,Telecom,Hong Kong,False,D,M,Li,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,611,4.5,Diversified,Samuel Yin,72.0,Taiwan,Retail,Diversified,Taiwan,False,D,M,Yin,Samuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,636,4.3,Real Estate,Ian Livingstone,60.0,NaN,Real estate,Real Estate,United Kingdom,True,Split Family Fortune,M,Livingstone,Ian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,636,4.3,Real Estate,Richard Livingstone,58.0,NaN,Real estate,Real Estate,United Kingdom,True,Split Family Fortune,M,Livingstone,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,636,4.3,Finance & Investments,Daniel Tsai,66.0,Taiwan,Finance,Finance & Investments,Taiwan,False,D,M,Tsai,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,636,4.3,Finance & Investments,Richard Tsai,65.0,Taiwan,Finance,Finance & Investments,Taiwan,False,D,M,Tsai,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
726,721,3.9,Finance & Investments,Kenneth Dart,67.0,Cayman Islands,Investments,Finance & Investments,Belize,False,U,M,Dart,Kenneth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,721,3.9,Finance & Investments,Tsai Hong-tu,70.0,Taiwan,Finance,Finance & Investments,Taiwan,False,D,M,Tsai,Hong-tu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,748,3.8,Finance & Investments,Tsai Cheng-ta,73.0,Taiwan,Finance,Finance & Investments,Taiwan,False,D,M,Tsai,Cheng-ta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,787,3.6,Food & Beverage,Beatriz Davila de Santo Domingo,84.0,Bermuda,Beer,Food & Beverage,Colombia,False,U,F,Davila de Santo Domingo,Beatriz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,787,3.6,Gambling & Casinos,Pansy Ho,60.0,Hong Kong,Casinos,Gambling & Casinos,Hong Kong,False,U,F,Ho,Pansy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,787,3.6,Real Estate,Samuel Tak Lee,83.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,D,M,Lee,Samuel Tak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,787,3.6,Real Estate,Edwin Leong,71.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,D,M,Leong,Edwin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,787,3.6,Logistics,Tung Chee Chen,80.0,Hong Kong,Shipping,Logistics,Hong Kong,False,E,M,Tung,Chee Chen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,818,3.5,Manufacturing,Patrick Lee,81.0,Hong Kong,Paper,Manufacturing,Hong Kong,True,D,M,Lee,Patrick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
849,818,3.5,Fashion & Retail,Nicoletta Zampillo,65.0,Monaco,Eyeglasses,Fashion & Retail,Italy,False,N,F,Zampillo,Nicoletta,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
857,852,3.4,Diversified,Richard Branson,72.0,British Virgin Islands,Virgin,Diversified,United Kingdom,True,D,M,Branson,Richard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,905,3.2,Food & Beverage,Karen Virginia Beckmann Legoretta,53.0,NaN,Tequila,Food & Beverage,Mexico,False,U,F,Beckmann Legoretta,Karen Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,949,3.1,Manufacturing,Yin Yee Lee,71.0,Hong Kong,Glass,Manufacturing,China,True,D,M,Lee,Yin Yee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968,949,3.1,Diversified,Farhad Moshiri,67.0,Monaco,Diversified,Diversified,United Kingdom,True,U,M,Moshiri,Farhad,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
970,949,3.1,Real Estate,Or Wai Sheun,71.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,D,M,Or,Wai Sheun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,949,3.1,Real Estate,Rita Tong Liu,74.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,D,F,Tong Liu,Rita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,982,3.0,Real Estate,Chan Tan Ching-fen,NaN,Hong Kong,Real estate,Real Estate,Hong Kong,False,D,F,Chan,Tan Ching-fen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,982,3.0,Automotive,Catheline Perier D'Ieteren,78.0,NaN,"Auto parts, distribution",Automotive,Belgium,False,N,F,D'Ieteren,Catheline Perier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,982,3.0,Fashion & Retail,Lin Ming-hsiung,73.0,Taiwan,Supermarkets,Fashion & Retail,Taiwan,True,D,M,Lin,Ming-hsiung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,982,3.0,Finance & Investments,Lei Zhang,50.0,Hong Kong,Investments,Finance & Investments,China,True,E,M,Zhang,Lei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,1027,2.9,Energy,Ronald McAulay,87.0,Hong Kong,Energy,Energy,Hong Kong,False,D,M,McAulay,Ronald,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,1067,2.8,Manufacturing,Tseng Cheng,61.0,Taiwan,Petrochemicals,Manufacturing,Taiwan,False,U,M,Tseng,Cheng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1098,1067,2.8,Logistics,Tung Chee Hwa,85.0,Hong Kong,Shipping,Logistics,Hong Kong,False,E,M,Tung,Chee Hwa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100,1067,2.8,Manufacturing,Wong Luen Hei,61.0,Hong Kong,Building materials,Manufacturing,China,True,D,M,Wong,Luen Hei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1101,1067,2.8,Healthcare,Chenghai Ye & family,79.0,Hong Kong,Pharmaceuticals,Healthcare,Hong Kong,True,D,M,Ye,Chenghai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1109,1104,2.7,Finance & Investments,Harindarpal Banga,72.0,Hong Kong,Commodities,Finance & Investments,India,True,U,M,Banga,Harindarpal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1127,1104,2.7,Real Estate,Kei Hoi Pang,57.0,Hong Kong,Real estate,Real Estate,China,True,D,M,Kei,Hoi Pang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130,1104,2.7,Real Estate,Geoffrey Kwok,37.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,D,M,Kwok,Geoffrey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,1104,2.7,Real Estate,Jonathan Kwok,31.0,Hong Kong,Real Estate,Real Estate,Hong Kong,False,U,M,Kwok,Jonathan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1135,1104,2.7,Real Estate,Angela Leong,62.0,Hong Kong,Casinos,Real Estate,Hong Kong,False,D,F,Leong,Angela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1140,1104,2.7,Telecom,Denis O'Brien,64.0,Ireland,Telecom,Telecom,Ireland,True,D,M,O'Brien,Denis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141,1104,2.7,Food & Beverage,Timm Oberwelland,NaN,NaN,Candy,Food & Beverage,Germany,False,Split Family Fortune,M,Oberwelland,Timm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1144,1104,2.7,Fashion & Retail,Pan Dong,58.0,Hong Kong,Consumer goods,Fashion & Retail,Canada,True,D,F,Pan,Dong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1147,1104,2.7,Metals & Mining,Gianfelice Rocca,75.0,NaN,Pipe Manufacturing,Metals & Mining,Italy,False,Split Family Fortune,M,Rocca,Gianfelice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1148,1104,2.7,Metals & Mining,Paolo Rocca,70.0,NaN,Pipe Manufacturing,Metals & Mining,Italy,False,Split Family Fortune,M,Rocca,Paolo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,1104,2.7,Media & Entertainment,Christiane Schoeller,NaN,NaN,Publishing,Media & Entertainment,Germany,False,U,F,Schoeller,Christiane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1160,1104,2.7,Manufacturing,Wong Man Li,58.0,Hong Kong,Furniture,Manufacturing,Hong Kong,True,D,M,Wong,Man Li,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1178,1164,2.6,Food & Beverage,"John Dorrance, III.",79.0,Ireland,Campbell Soup,Food & Beverage,Ireland,False,D,M,Dorrance,John,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1187,1164,2.6,Real Estate,Adam Kwok,40.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,U,M,Kwok,Adam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1212,1164,2.6,Construction & Engineering,Jurgen Wirtgen,57.0,NaN,Construction Vehicles,Construction & Engineering,Germany,False,N,M,Wirtgen,Jurgen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,1164,2.6,Construction & Engineering,Stefan Wirtgen,52.0,NaN,Construction Vehicles,Construction & Engineering,Germany,False,N,M,Wirtgen,Stefan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,1217,2.5,Real Estate,Lin Chen-hai,76.0,Taiwan,Real estate,Real Estate,Taiwan,True,D,M,Lin,Chen-hai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1303,1272,2.4,Technology,Tsai Ming-kai,72.0,Taiwan,Semiconductors,Technology,Taiwan,True,D,M,Tsai,Ming-kai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1316,1312,2.3,Technology,Morris Chang,91.0,Taiwan,Semiconductors,Technology,Taiwan,True,D,M,Chang,Morris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1317,1312,2.3,Real Estate,Chao Teng-hsiung,78.0,Taiwan,Real estate,Real Estate,Taiwan,True,D,M,Chao,Teng-hsiung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,1312,2.3,Finance & Investments,Samuel Chen,73.0,NaN,Investments,Finance & Investments,Taiwan,True,N,M,Chen,Samuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1319,1312,2.3,Manufacturing,Chu Lam Yiu,53.0,Hong Kong,Flavorings,Manufacturing,Hong Kong,True,E,F,Chu,Lam Yiu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,1312,2.3,Healthcare,Lam Kong,58.0,Hong Kong,Pharmaceuticals,Healthcare,China,True,D,M,Lam,Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,1312,2.3,Finance & Investments,Stephen Lansdown,70.0,Guernsey,Financial services,Finance & Investments,Guernsey,True,D,M,Lansdown,Stephen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,1312,2.3,Fashion & Retail,Kevin David Lehmann,20.0,NaN,Drugstores,Fashion & Retail,Germany,False,D,M,Lehmann,Kevin David,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1354,1312,2.3,Fashion & Retail,Tang Yiu,89.0,Hong Kong,Fashion retail,Fashion & Retail,Hong Kong,True,D,M,Tang,Yiu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1356,1312,2.3,Finance & Investments,T.Y. Tsai,70.0,Taiwan,Finance,Finance & Investments,Taiwan,False,D,M,Tsai,T.Y.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1365,1312,2.3,Healthcare,Christoph Zeller,65.0,Liechtenstein,Dental materials,Healthcare,Liechtenstein,False,E,M,Zeller,Christoph,NaN,NaN,"$6,552,858,739",35.6,104.7,83.0,NaN,21.6,38019.0,47.141039,9.520935
1372,1368,2.2,Fashion & Retail,Brett Blundy,63.0,Bahamas,"Retail, agribusiness",Fashion & Retail,Australia,True,E,M,Blundy,Brett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1376,1368,2.2,Finance & Investments,Dermot Desmond,72.0,Ireland,Finance,Finance & Investments,Ireland,True,U,M,Desmond,Dermot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,1368,2.2,Manufacturing,Yeung Kin-man,59.0,Hong Kong,Electronics,Manufacturing,Hong Kong,True,D,M,Yeung,Kin-man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1436,1434,2.1,Construction & Engineering,Olivier Bouygues,72.0,NaN,"Construction, media",Construction & Engineering,France,False,Split Family Fortune,M,Bouygues,Olivier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440,1434,2.1,Technology,Bruce Cheng,86.0,Taiwan,Electronics,Technology,Taiwan,True,E,M,Cheng,Bruce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,1434,2.1,Energy,Daniel Chiu,62.0,Hong Kong,Oil & gas,Energy,Hong Kong,True,U,M,Chiu,Daniel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,1434,2.1,Diversified,Douglas Hsu,80.0,Taiwan,Diversified,Diversified,Taiwan,False,D,M,Hsu,Douglas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1467,1434,2.1,Real Estate,Thomas Kwok,71.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,U,M,Kwok,Thomas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1468,1434,2.1,Manufacturing,Lam Wai-ying,NaN,Hong Kong,Smartphone screens,Manufacturing,Hong Kong,True,D,F,Lam,Wai-ying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,1434,2.1,Real Estate,Lin Chang Su-O,82.0,Taiwan,Real estate,Real Estate,Taiwan,False,D,F,Lin,Chang Su-O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,1434,2.1,Manufacturing,Eugene Murtagh,80.0,Ireland,Building materials,Manufacturing,Ireland,True,D,M,Murtagh,Eugene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1505,1434,2.1,Food & Beverage,Wei Yin-Chun,66.0,Taiwan,"Food, beverages",Food & Beverage,Taiwan,True,U,M,Wei,Yin-Chun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,1434,2.1,Food & Beverage,Wei Ying-Chiao,68.0,Taiwan,"Food, beverages",Food & Beverage,Taiwan,True,U,M,Wei,Ying-Chiao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1510,1434,2.1,Fashion & Retail,Michael Ying,73.0,Hong Kong,Retail,Fashion & Retail,Hong Kong,True,U,M,Ying,Michael,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1518,1516,2.0,Finance & Investments,Michael Ashcroft,77.0,Turks and Caicos Islands,Security,Finance & Investments,United Kingdom,True,D,M,Ashcroft,Michael,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,1516,2.0,Food & Beverage,Maria Franca Fissolo,88.0,Monaco,"Nutella, chocolates",Food & Beverage,Italy,False,E,F,Fissolo,Maria Franca,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
1527,1516,2.0,Healthcare,Mario Germano Giuliani,51.0,Monaco,Pharmaceuticals,Healthcare,Switzerland,False,D,M,Giuliani,Mario Germano,NaN,NaN,"$7,184,844,193",NaN,NaN,NaN,NaN,NaN,38964.0,43.738418,7.424616
1531,1516,2.0,Manufacturing,Huang Dawen,62.0,Hong Kong,Silicon,Manufacturing,Hong Kong,True,D,M,Huang,Dawen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1538,1516,2.0,Technology,Martin Lau,50.0,Hong Kong,E-commerce,Technology,Hong Kong,True,D,M,Lau,Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1559,1516,2.0,Manufacturing,Michal Strnad,30.0,NaN,Defense Contracting,Manufacturing,Czech Republic,False,N,M,Strnad,Michal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1567,1516,2.0,Fashion & Retail,Ales Zavoral,46.0,NaN,E-commerce,Fashion & Retail,Czech Republic,True,N,M,Zavoral,Ales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,1575,1.9,Fashion & Retail,Stephen Butt & family,67.0,NaN,Supermarkets,Fashion & Retail,United States,False,N,M,Butt,Stephen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1597,1575,1.9,Real Estate,David Fong,65.0,Hong Kong,Real estate,Real Estate,Hong Kong,False,N,M,Fong,David,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1605,1575,1.9,Real Estate,Hui Wing Mau,72.0,Hong Kong,Real estate,Real Estate,Hong Kong,True,D,M,Hui,Wing Mau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1616,1575,1.9,Fashion & Retail,Robert Miller,89.0,Hong Kong,Retail,Fashion & Retail,United Kingdom,True,D,M,Miller,Robert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# General Informations About Billionaires Distributions

In [84]:
# Gender demographic of billionaires

# Gender proportion pie chart

# Gender with rank and wealth

In [ ]:
# Age distribution of billionaires by gender

# histogram

# boxplot to see the distribution within gender

In [ ]:
# Billionaires by industries

# Histogram

In [ ]:
# Billionaires by countries

# histogram

In [ ]:
# Geographical distribution

# Top 10 countries with most billionaires

# Use API geoapify to map the countries of billionaires

In [ ]:
# Selfmade billionaire vs. Inherited billionaire

# Correlation Analysis of Billionaires

In [ ]:
# Billionaire vs. Countries GDP

In [ ]:
# Billionaire vs. Countries Life Expectancies

In [ ]:
# Billionaires vs. Countries Population

In [ ]:
# Billionaire vs. Countries Tax Revenue

In [ ]:
# Billionaire vs. Countries CPI

In [ ]:
# Billionaire vs. Education

# Bonus: The chances of you becoming a billionaire

In [85]:
# We are only interested in selfmade billionaire for this part
# Y = billionaire/countries population %
# X = gender + country + age + industries